<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
    <bean id="routing" class="clustercustomers.camel.Routes"/>
    <camelContext xmlns="http://camel.apache.org/schema/spring" trace="false">
        <routeBuilder ref="routing"/>
    </camelContext>
    <bean class="com.mongodb.MongoURI" id="mongoURI">
        <constructor-arg value="mongodb://localhost"  />
    </bean>

    <bean class="com.mongodb.Mongo" id="mongo">
        <constructor-arg ref="mongoURI" />
    </bean>
</beans>
